[submodule "bjodahimg-dockerfile"]
	path = bjodahimg-dockerfile
	url = git@github.com:bjodah/bjodahimg-dockerfile
[submodule "bjodahimgbase"]
	path = bjodahimgbase-dockerfile
	url = git@github.com:bjodah/bjodahimgbase.git
[submodule "bjodahimgdev-dockerfile"]
	path = bjodahimgdev-dockerfile
	url = git@github.com:bjodah/bjodahimgdev-dockerfile
